extends layout

block content
  h1= title
  p Welcome to #{title}
  p This express website generated with express-generator with the below commands 
  pre npm install express-generator -g
  pre express new-express-app
  pre cd new-express-app
  pre npm install 
  pre npm start 
  pre create .env file and add the below contents 
  pre PORT=3000
  pre SECRET_KEY=mysecretkey
  pre visit the site in http://localhost:3000 